<v-app>
  <v-app-bar app>
    <v-icon v-text="`$compare`" :class="$style.logo" />
    <span class="title">Compare Sandtank AI</span>
    <v-spacer />
    <v-slider
      v-show="timeRange[1] - timeRange[0] > 1"
      label="Timestep"
      :value="simulationTime"
      @input="updateSimulationTime"
      @change="autoRunModels"
      dense
      hide-details
      :min="timeRange[0]"
      :max="timeRange[1]"
      step="1"
      thumb-label
      thumb-size="16"
      style="max-width: 300px;"
    />
    <v-switch
      class="ml-4"
      v-if="showAutoRun"
      label="Auto run"
      dense
      hide-details
      v-model="autoRun"
    />
    <v-progress-linear
      :active="busy"
      :indeterminate="busy"
      absolute
      bottom
    />
  </v-app-bar>

  <v-main :class="$style.appContent">
    <v-container fluid>
      <simulation />
      <v-divider />
      <v-row class="ma-4">
        <v-btn icon class="mx-1" @click="addAI">
          <v-icon v-text="`$add`" />
        </v-btn>
        <div class="title">AI Models</div>
        <v-spacer />
        <v-btn @click="runAI" :disabled="autoRun"> Run Models </v-btn>
      </v-row>
      <v-divider />
      <comparison
        v-for="model, idx in aiModels"
        :key="idx"
        :model="model"
        :id="idx"
      />
    </v-container>
  </v-main>
</v-app>
