<v-main>
  <v-container>
    <h1>Resources</h1>
    These resources can link you to the rest of the sandtank-ml ecosystem.

    <h3>Lesson plans</h3>
    <ul>
      <li>
        <a href="/?name=all">
          This lesson plan has most of the features activated in some form or
          another
        </a>
      </li>
      <li>
        <a href="/?name=best">
          This lesson plan illustrates the visual differences in models well,
          and is therefore good for explaining the various images in the
          interface.
        </a>
      </li>
      <li>
        <a href="/?name=dropout">
          This lesson plan shows the effectiveness of using a dropout when
          training the machine learning models
        </a>
      </li>
      <li>
        <a href="/?name=epoch">
          This lesson plan shows how training models with more epochs, say 50
          instead of 10, can improve model performance without new data.
        </a>
      </li>
    </ul>
  </v-container>
</v-main>
