<div :class="$style.container">
  <v-slider vertical v-model="leftSlider" :class="$style.slider" class="px-16">
    <template v-slot:append>
      <div :class="$style.labelWrapper" class="text-h6">
        {{leftSlider}}
      </div>
    </template>
  </v-slider>
  <ComputedImage :scale="3" :size="[102, 50]" />
  <v-slider
    v-model="rightSlider"
    vertical
    value="10"
    :class="$style.slider"
    class="px-16"
  >
    <template v-slot:append>
      <div :class="$style.labelWrapper" class="text-h6">
        {{rightSlider}}
      </div>
    </template>
  </v-slider>
</div>
