<v-card style="min-height: 175px;">
  <v-row class="my-2 mx-1 pa-2 justify-space-between d-flex">
    <div v-if="showSelection">
      <Selector :definition="model.modelSelector" style="max-width: 300px;" />
    </div>
    <div v-if="showPrediction" class="d-flex align-items-center">
      <v-col class="flex-grow-0">
        <ImageWithOverlay
          v-if="model.values"
          :values="pressure"
          :size="model.size"
          :scale="scale"
          :convert="currentColorConvert"
          :rgb="simulationTime !== -1"
          :overlayKind="useWaterLabels.show ? 'values' : ''"
          :class="{[$style.outdated] : needRunAI}"
        />
        <v-skeleton-loader
          v-show="!model.size"
          type="image"
          :width="100 * scale"
          :height="50 * scale"
          :boilerplate="!aiLoading"
        />
        <v-row class="justify-space-between align-center pa-2">
          <v-btn
            small
            icon
            class="mr-2"
            @click="setPressure(!isPressure)"
            :disabled="needRunAI"
          >
            <v-icon v-show="useGradientConfig.show" v-text="`$toggle`" />
          </v-btn>
          <div class="text-h6">{{fieldName}}</div>
          <div class="body-2">t({{aiTime}})</div>
        </v-row>
      </v-col>
    </div>
    <div v-if="showDiff" class="d-flex align-items-center">
      <v-col class="flex-grow-0">
        <ImageWithOverlay
          v-if="model.values"
          :size="model.size"
          :scale="scale"
          :values="isPressure ? model.stats.presDelta : model.stats.satDelta"
          :convert="deltaToColor"
          :labels="useDiffLabels.values"
          :overlayKind="useDiffLabels.show ? 'labels' : ''"
          :class="{[$style.outdated] : needRunAI || needRunSimulation}"
        />
        <v-skeleton-loader
          v-show="!model.size"
          type="image"
          :width="100 * scale"
          :height="50 * scale"
          :boilerplate="!aiLoading"
        />
        <v-row class="justify-space-between text-center pa-2">
          <div />
          <div class="text-h6">Physics vs AI</div>
          <div />
        </v-row>
      </v-col>
    </div>
    <div v-if="showHist" class="d-flex align-items-center">
      <v-col class="flex-grow-0">
        <div style="border: 1px solid grey;" v-if="model.values && isPressure">
          <Histogram
            :chart-data="model.stats.histData"
            :size="model.size"
            :scale="scale"
            :max="globalMax ? model.stats.histGlobalMax : -1"
            :class="{[$style.outdated] : needRunAI || needRunSimulation}"
            class="pa-2"
          />
        </div>
        <div style="border: 1px solid grey;" v-if="model.values && !isPressure">
          <PieChart
            :chart-data="model.stats.pieData"
            :size="model.size"
            :scale="scale"
            :class="{[$style.outdated] : needRunAI || needRunSimulation}"
          />
        </div>
        <v-skeleton-loader
          v-show="!model.size"
          type="image"
          :width="100 * scale"
          :height="50 * scale"
          :boilerplate="!aiLoading"
        />
        <v-row class="justify-space-between pa-2 align-center">
          <v-btn
            small
            icon
            class="mr-2 pt-2"
            @click="setGlobalMax(!globalMax)"
            v-show="showGlobalMaxButton"
            :disabled="needRunAI"
          >
            <v-icon
              v-show="useGradientConfig.show"
              v-text="`$toggleGlobalMax`"
            />
          </v-btn>
          <div v-show="!showGlobalMaxButton" />
          <div class="text-h6 pt-2">Distribution of errors</div>
          <div />
        </v-row>
      </v-col>
    </div>
    <div v-if="showError" class="d-flex align-items-center">
      <div
        v-if="model.stats"
        :class="{[$style.outdated] : needRunAI || needRunSimulation}"
        class="pa-2 text-center"
      >
        <v-text-field
          dense
          label="L1 error"
          :value="simplifyNumber(model.stats.l1)"
          hide-details
          filled
          readonly
        />
        <v-text-field
          dense
          label="Lmax"
          :value="simplifyNumber(model.stats.lmax)"
          hide-details
          filled
          readonly
        />
        <v-text-field
          dense
          label="Standard deviation"
          :value="simplifyNumber(model.stats.stdDev)"
          hide-details
          filled
          readonly
        />
        <div class="text-h6 pt-1">Prediction error</div>
      </div>
      <v-col v-show="!model.size" class="flex-grow-0 text-center align-center ">
        <v-skeleton-loader
          type="image"
          :width="100 * scale"
          :height="50 * scale"
          :boilerplate="!aiLoading"
        />
        <v-row class="pa-2 text-center justify-space-between">
          <div />
          <div class="text-h6 pt-1">Prediction error</div>
          <div />
        </v-row>
      </v-col>
    </div>

    <div v-if="showStats" class="d-flex align-items-center">
      <v-col class="flex-grow-0">
        <div style="border: 1px solid grey;" v-if="model.values">
          <EpochChart
            v-if="epochData"
            :chart-data="epochData"
            :size="model.size"
            :scale="scale"
            class="pa-2"
          />
        </div>
        <v-skeleton-loader
          v-show="!model.learningStats"
          type="image"
          :width="100 * scale"
          :height="50 * scale"
          :boilerplate="!aiLoading"
        />
        <v-row class="justify-space-between align-center pa-2">
          <v-btn
            small
            icon
            class="mr-2 pt-2"
            v-show="useSkipInitial.show"
            @click="setSkipInitial(!skipInitial)"
            :disabled="needRunAI"
          >
            <v-icon v-text="`$toggleSkipInitial`" />
          </v-btn>
          <div class="text-h6 pt-2">
            Epoch loss
          </div>
          <div />
        </v-row>
      </v-col>
    </div>
  </v-row>
</v-card>
