<v-card style="min-height: 175px;">
  <v-row class="my-2 mx-1 pa-2 justify-space-between d-flex">
    <div v-if="showSelection">
      <Selector :definition="model.modelSelector" style="max-width: 300px;" />
    </div>
    <div v-if="showPrediction" class="d-flex align-items-center">
      <v-col class="flex-grow-0">
        <ComputedImage
          v-if="model.values"
          :values="pressure"
          :size="model.size"
          :scale="scale"
          :convert="currentColorConvert"
          :rgb="simulationTime !== -1"
          :class="{[$style.outdated] : needRunAI}"
        />
        <v-skeleton-loader
          v-show="!model.size"
          type="image"
          :width="100 * scale"
          :height="50 * scale"
        />
        <v-row class="justify-space-between align-center pa-2">
          <v-btn
            small
            icon
            class="mr-2"
            @click="setPressure(!isPressure)"
            :disabled="!useGradientConfig.show || !model.values"
          >
            <v-icon v-show="useGradientConfig.show" v-text="`$toggle`" />
          </v-btn>
          <div class="text-h6">{{fieldName}}</div>
          <div class="body-2">t({{aiTime}})</div>
        </v-row>
      </v-col>
    </div>
    <div v-if="showDiff" class="d-flex align-items-center">
      <v-col class="flex-grow-0">
        <ComputedImage
          v-show="showDiff"
          v-if="model.values"
          :size="model.size"
          :scale="scale"
          :values="delta"
          :convert="deltaToColor"
          :class="{[$style.outdated] : needRunAI || needRunSimulation}"
        />
        <v-skeleton-loader
          v-show="!model.size"
          type="image"
          :width="100 * scale"
          :height="50 * scale"
        />
        <v-row class="justify-space-between align-center pa-2">
          <div />
          <div class="text-h6">Physics vs AI</div>
          <div />
        </v-row>
      </v-col>
    </div>
    <div v-if="showHist" class="d-flex align-items-center">
      <v-col class="flex-grow-0">
        <Histogram
          v-if="model.values"
          :hist-data="delta"
          :size="model.size"
          :scale="scale"
        />
        <v-skeleton-loader
          v-show="!model.size"
          type="image"
          :width="100 * scale"
          :height="50 * scale"
        />
        <v-row class="justify-space-between align-center pa-2">
          <div />
          <div class="text-h6">Distribution of errors</div>
          <div />
        </v-row>
      </v-col>
    </div>
    <div v-if="showStats">
      Stats...
    </div>
  </v-row>
</v-card>
