<v-card>
  <v-row class="align-center ma-4 ml-0">
    <v-col cols="12" sm="4">
      <v-switch v-model="colorMode" />
      <Selector :definition="model.modelSelector" :id="id" />
    </v-col>
    <v-col cols="12" sm="8">
      <v-row>
        <v-col cols="12" sm="6">
          <ComputedImage
            v-if="model.values"
            :values="pressure"
            :size="model.size"
            :scale="3"
            :convert="currentColorConvert"
            rgb
          />
        </v-col>
        <v-col cols="12" sm="6">
          <ComputedImage
            v-if="model.values"
            :size="model.size"
            :scale="3"
            :values="delta"
            :convert="deltaToColor"
          />
        </v-col>
      </v-row>
    </v-col>
  </v-row>
</v-card>
