<v-row class="align-center ma-4 ">
  <v-col v-if="permeability" class="flex-grow-0 pa-0">
    <WalkthroughStep stepName="changeSlider">
      <v-slider
        vertical
        :value="leftSlider"
        class="px-4"
        @input="setLeftSlider"
        max="50"
      />
    </WalkthroughStep>
    <div class="subtitle-1 text-center">
      {{leftSlider}}
    </div>
  </v-col>

  <v-col class="flex-grow-0">
    <WalkthroughStep stepName="simulationPermeability">
      <ImageWithOverlay
        v-if="permeability"
        :scale="3"
        :size="size"
        :values="permeability"
        :convert="permeabilityToColor"
        :labels="usePermeabilityLabels.values"
        :overlayKind="usePermeabilityLabels.showOverlay ? 'labels' : ''"
        rgb
      />
    </WalkthroughStep>
    <v-skeleton-loader
      v-show="!permeability"
      type="image"
      width="308"
      height="152px"
    />
    <v-row class="subtitle-1 justify-center pa-4">
      Permeability
    </v-row>
  </v-col>

  <v-col v-if="permeability" class="flex-grow-0 pa-0">
    <WalkthroughStep stepName="changeSlider">
      <v-slider
        vertical
        :value="rightSlider"
        class="px-4"
        @input="setRightSlider"
        max="50"
      />
    </WalkthroughStep>
    <div class="subtitle-1 text-center">
      {{rightSlider}}
    </div>
  </v-col>
  <v-col
    v-if="showLegend && usePermeabilityLabels.showLegend && permeability"
    class="align-self-start"
  >
    <ComputedLegend
      v-if="permeability"
      :scale="3"
      :size="size"
      :values="permeability"
      :convert="permeabilityToColor"
      rgb
      :labels="usePermeabilityLabels.values"
    />
  </v-col>

  <v-spacer />

  <v-col class="flex-grow-0">
    <WalkthroughStep stepName="simulationWater">
      <ImageWithOverlay
        v-if="pressure"
        :scale="3"
        :size="size"
        :values="normPressure"
        :convert="normPressureToColor"
        :overlayKind="useWaterLabels.showOverlay ? 'labels' : ''"
        :labels="waterLabelValues"
        :class="{ [$style.outdated]: needRunSimulation }"
        rgb
      />
    </WalkthroughStep>
    <v-skeleton-loader v-show="!size" type="image" width="308" height="152px" />
    <v-row class="justify-space-between align-center pa-4">
      <WalkthroughStep stepName="simulationWater" advanceOnClick>
        <v-btn
          small
          icon
          class="mr-2"
          @click="setPressure(!isPressure)"
          :disabled="!usePressureConfig.show"
        >
          <v-icon v-show="usePressureConfig.show" v-text="`$toggle`" />
        </v-btn>
      </WalkthroughStep>
      <div class="subtitle-1">Simulation Output: {{ fieldName }}</div>
      <div class="body-2">t({{ simulationTime }})</div>
    </v-row>
  </v-col>
  <v-col
    v-if="showLegend && useWaterLabels.showLegend && permeability"
    class="align-self-start"
  >
    <ComputedLegend
      v-if="pressure"
      :scale="3"
      :size="size"
      :values="normPressure"
      :convert="normPressureToColor"
      :labels="waterLabelValues"
      :class="{ [$style.outdated]: needRunSimulation }"
      rgb
    />
  </v-col>
</v-row>
