<v-row class="align-center ma-4 ">
  <v-col class="flex-grow-0 pa-0">
    <v-slider
      vertical
      :value="leftSlider"
      class="px-4"
      @input="setLeftSlider"
      max="50"
    />

    <div class="text-h6 text-center">
      {{leftSlider}}
    </div>
  </v-col>

  <v-col class="flex-grow-0">
    <ImageWithOverlay
      v-if="permeability"
      :scale="3"
      :size="size"
      :values="permeability"
      :convert="permeabilityToColor"
      :labels="usePermeabilityLabels.values"
      :overlayKind="usePermeabilityLabels.show ? 'labels' : ''"
      rgb
    />
    <v-skeleton-loader
      v-show="!permeability"
      type="image"
      width="308"
      height="152px"
    />
    <v-row class="text-h6 justify-center pa-2">
      Permeability
    </v-row>
  </v-col>

  <v-col class="flex-grow-0 pa-0">
    <v-slider
      vertical
      :value="rightSlider"
      class="px-4"
      @input="setRightSlider"
      max="50"
    />
    <div class="text-h6 text-center">
      {{rightSlider}}
    </div>
  </v-col>

  <v-spacer />

  <v-col class="flex-grow-0">
    <ImageWithOverlay
      v-if="pressure"
      :scale="3"
      :size="size"
      :values="normPressure"
      :convert="normPressureToColor"
      :overlayKind="useWaterLabels.show ? 'values' : ''"
      :class="{ [$style.outdated]: needRunSimulation }"
      rgb
    />
    <v-skeleton-loader v-show="!size" type="image" width="308" height="152px" />
    <v-row class="justify-space-between align-center pa-2">
      <v-btn
        small
        icon
        class="mr-2"
        @click="setPressure(!isPressure)"
        :disabled="!useGradientConfig.show"
      >
        <v-icon v-show="useGradientConfig.show" v-text="`$toggle`" />
      </v-btn>
      <div class="text-h6">{{ fieldName }}</div>
      <div class="body-2">t({{ simulationTime }})</div>
    </v-row>
  </v-col>
</v-row>
