<v-app-bar app dense style="z-index: 11;">
  <v-icon v-text="`$logo`" :class="$style.logo" class="mr-2"/>
  <span class="title">Sandtank ML</span>
  <v-spacer />
  <v-breadcrumbs divider="-" :items="links">
    <template v-slot:item="{ item }">
      <v-breadcrumbs-item>
        <router-link :to="item.link">
          {{item.name}}
        </router-link>
      </v-breadcrumbs-item>
    </template>
  </v-breadcrumbs>
  <v-spacer />
  <v-tooltip left v-if="$route.path === '/'">
    <template v-slot:activator="{on, attrs}">
      <v-btn
        fab
        x-small
        color="grey"
        @click="toggleGuidance"
        v-bind="attrs"
        v-on="on"
      >
        <img style="max-height: 50px;" src="sandy-icon.svg" />
      </v-btn>
    </template>
    <span> {{guidanceVisible ? "Hide": "Show"}} guidance </span>
  </v-tooltip>
  <v-btn v-else fab x-small style="opacity: 0; cursor: default;">
    <v-icon small />
  </v-btn>

  <v-progress-linear :active="busy" :indeterminate="busy" absolute bottom
/></v-app-bar>
