.walkthroughHighlight > * {
  animation-name: glow;
  animation-duration: 0.8s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 8;
  animation-direction: alternate;
  will-change: glow;
}

@keyframes glow {
  from {
    box-shadow: 0 0 5px -5px #3f51b5;
  }
  to {
    box-shadow: 0 0 5px 5px #3f51b5;
  }
}
