<v-container class="flex-row flex-wrap">
  <v-row>
    <v-col cols="1" align-self="center">
      <v-btn x-small icon class="mx-1" @click="removeAI(id)">
        <v-icon v-text="`$trash`" />
      </v-btn>
    </v-col>
    <v-col cols="11">
      <v-container class="flex-row flex-wrap" v-if="definition">
        <v-row>
          <v-col
            cols="6"
            v-for="name in definition.getKeyNames()"
            :key="name"
            v-show="definition.getItems(name).length > 1"
          >
            <v-select
              :label="definition.getLabel(name)"
              :items="definition.getItems(name)"
              :value="definition.getValue(name)"
              @input="definition.setValue(name, $event)"
              dense
              hide-details
            />
          </v-col>
        </v-row>
      </v-container>
    </v-col>
  </v-row>
</v-container>
