.slider {
  flex-grow: 0 !important;
}

.container {
  display: flex;
  justify-content: center;
}

.labelWrapper {
  text-align: center;
}

.modelContainer {
  display: flex;
  flex-direction: column;
}
