<div>
  <div :class="$style.container">
    <v-slider
      vertical
      v-model="leftSlider"
      :class="$style.slider"
      class="px-4"
      @change="setLeftSlider"
    >
      <template v-slot:append>
        <div :class="$style.labelWrapper" class="text-h6">
          {{leftSlider}}
        </div>
      </template>
    </v-slider>
    <ComputedImage
      :scale="3"
      :size="size"
      :values="channels"
      :convert="inputConvert(0)"
      :rgb="inputRGB(0)"
    />
    <v-slider
      vertical
      v-model="rightSlider"
      :class="$style.slider"
      class="px-4"
      @change="setRightSlider"
    >
      <template v-slot:append>
        <div :class="$style.labelWrapper" class="text-h6">
          {{rightSlider}}
        </div>
      </template>
    </v-slider>
  </div>
  <div :class="$style.container">
    <v-btn :loading="loading" class="ma-2" color="primary" @click="run">
      <v-icon v-text="`$run`" /> Run Models
    </v-btn>
  </div>
</div>
