<div>
  <div :class="$style.container">
    <v-slider
      vertical
      v-model="leftSlider"
      :class="$style.slider"
      class="px-4"
      @change="setLeftSlider"
    />
    <ComputedImage
      :scale="3"
      :size="size"
      :values="channels"
      :convert="inputConvert(0)"
      :rgb="inputRGB(0)"
    />
    <v-slider
      vertical
      v-model="rightSlider"
      :class="$style.slider"
      class="px-4"
      @change="setRightSlider"
    />
  </div>
  <div :class="$style.container">
    <div :class="$style.labelWrapper" class="text-h6 my-3 mx-12">
      {{leftSlider}}
    </div>

    <v-btn :loading="loading" class="ma-2" color="primary" @click="run">
      <v-icon v-text="`$run`" /> Run Models
    </v-btn>

    <div :class="$style.labelWrapper" class="text-h6 my-3 mx-12">
      {{rightSlider}}
    </div>
  </div>
</div>
